.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.store {
  flex-grow: 3;
  background-color: blue;
}

.wishlist {
  flex-grow: 1;
  background-color: red;
}

.shoppingCart {
  flex-grow: 1;
  background-color: yellow;
}