.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.store {
  flex-grow: 3;
  padding-bottom: 20px;
  background-color: aliceblue;
}

.wishlist {
  flex-grow: 1;
  background-color: aliceblue;
  padding: 5px;
}

.shopping-cart {
  flex-grow: 1;
  background-color: aliceblue;
  padding: 5px;
}